<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blog.mapper.ArticleTagMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.blog.pojo.entity.ArticleTag">
        <id column="id" property="id" />
        <result column="article_id" property="articleId" />
        <result column="tag_id" property="tagId" />
    </resultMap>

    <!-- 根据标签id获取文章id -->
    <select id="selectByTagId" resultType="com.blog.pojo.entity.ArticleTag">
        select * from t_article_tag where tag_id = #{tagId}
    </select>

    <!-- 根据文章id获取标签id -->
    <select id="selectByArticleId" resultType="com.blog.pojo.entity.ArticleTag">
        select * from t_article_tag where article_id = #{articleId}
    </select>

</mapper>
