<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blog.mapper.MenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.blog.pojo.entity.Menu">
        <id column="id" property="id" />
        <result column="parent_id" property="parentId" />
        <result column="url" property="url" />
        <result column="component" property="component" />
        <result column="title" property="title" />
        <result column="level" property="level" />
        <result column="sort_no" property="sortNo" />
        <result column="icon" property="icon" />
        <result column="type" property="type" />
        <result column="remarks" property="remarks" />
        <result column="created_time" property="createdTime" />
        <result column="update_time" property="updateTime" />
        <result column="redirect" property="redirect" />
        <result column="name" property="name" />
        <result column="hidden" property="hidden" />
    </resultMap>

</mapper>
